//- Template for each location

extends layout

block content


	h1 #{currentName}
	if nextLocation
		a(href='/#{nextLocation}') Next Destination
	
	
	else if currentName
		p Then End.

	else
		p This location does not exist.
	
